body{
  background-image: url('../../Assets/Images/6067.jpg');
  background-position: center;
  background-size: 50%;
  background-color: black;
}

.containerOutFormLogin{
  max-width: 40%;
  height: 300px;
  margin: 0 auto;
  position: relative;
  top: 150px;
  background-color: rgba(128, 128, 128, 0.87);
  text-align: center;
}

.containerInFormLogin{
  position: relative;
  top: 50px;
}

.inputPass{
  margin: 0 auto;
}

button.buttonLogin{
  width: 200px;
  background-color: black;
}

